.person_page
  %h1= @person.name
  .row
    .col-3
      = image_tag @person.picture.url(:medium)
    .col-6
      = @person.name
      = @person.bio
    .col-3
      .row
        .box
          %u Person's news & interviews Feed
      .row
        %h4 Info
        %ul
          %li
            Born in
            = @person.born_in
          %li
            Born on
            = @person.birthday
          %li
            Acted in
            = @person.movies.length
            movies
  .row
    .col
      %h4 Filmography / Highest Rated Movies
      .row
        -@person.movies.limit(12).each do |movie|
          .col-1
            = image_tag movie.poster.url(:thumb) , title: movie.title
