- card_size = 'card-6' unless defined? card_size
- card = card || movie.card(current_user)

.movie-card{id: "id_#{movie.id}", class: card_size || 'card-6' }
  .movie-header
    .row
      =link_to card_review_path(movie) do
        = image_tag '5star.png', class: 'star', :title => "Click to see all reviews for this movie"
      = wish_link(movie, card)
      = own_link(movie, card)

  .movie-content
    =link_to movie_path(movie) do
      = image_tag movie.poster.url(:medium) , class: "img-fluid rounded movie-img"

      .movie-overlay
        %h3= movie.title
        %p.summary.small=movie.summary[0 .. 200]
        .movie-actions
          = link_to sale_list_movie_path(movie) do
            = image_tag 'buy_text.png', class: 'card-icon', :title => "DVDs on sale!"

          = hide_link(movie, card)

          - if card and card.dvd
            = link_to edit_card_dvd_path(card.dvd) do
              = image_tag 'selling_text.png', class: 'card-icon', :title => "Edit your DVD for sale"
          - else
            = link_to new_card_dvd_path(movie) do
              = image_tag 'sell_text.png', class: 'card-icon', :title => "Put your DVD up for sale"

          - if card and card.review
            = link_to edit_card_review_path(card) do
              = image_tag 'reviewed_text.png', class: 'card-icon', :title => "Edit your review"
          - else
            = link_to new_card_review_path(movie) do
              = image_tag 'review_text.png', class: 'card-icon', :title => "Review this movie!"
