- card_size = 'card-6' unless defined? card_size
.movie-card{id: "id_#{movie.id}", class: card_size || 'card-6' }
  .movie-header
    .row
      =link_to card_review_path(movie) do
        = image_tag '5star', class: 'star', :title => "Click to see all reviews for this movie"

      = link_to wish_movie_path(movie) do
        = image_tag 'wishlist', class: 'star', :title => "Add to my wishlist"

      = link_to own_movie_path(movie) do
        = image_tag 'shelf', class: 'star', :title => "Add this to shelf if you have watched this"

  .movie-content
    =link_to movie_path(movie) do
      = image_tag movie.poster.url(:medium) , class: "img-fluid rounded movie-img"
      .movie-overlay
        %h3= movie.title
        .movie-actions
          = link_to sale_list_movie_path(movie) do
            = image_tag 'buy_text', class: 'card-icon'

          = link_to hide_card_path(movie) do
            = image_tag 'hide_text', class: 'card-icon'

          - card = card || movie.card(current_user)
          -if card
            = render partial: 'cards/actions', locals: {card: card}
          -else
            = render partial: 'recommendations/recommended_actions', locals: {movie: movie}
