%p Movie Reviews

%p
  %b Title:
  = @movie.title
  %br
  - @movie.reviews.each do |r|
    = r.user.name
    %br
    = r.plot_score
    = r.plot_comment
    %br
    = r.acting_score
    = r.acting_comment
    %br
    = r.summary
    %br


= link_to 'Add a Review', new_movie_review_path(@movie)
= link_to 'Back', movies_path
