%h1 Listing users

%table.continer-fluid
  %thead
    %tr
      %th Avatar
      %th Name/Email
      %th
      %th
      %th

  %tbody.container-fluid
    - @users.each do |user|
      %tr
        %td= image_tag user.avatar.url(:thumb)
        %td
          = user.name
          %br
          = user.email
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
