%h1 Listing movies
= paginate @movies
= search_form_for [:admin, @q] do |f|
  = f.label :title_cont
  = f.search_field :title_cont

  = f.label :imdb_id_cont
  = f.search_field :imdb_id_cont

  = f.label :tmdb_id_eq
  = f.search_field :tmdb_id_eq
  = f.submit

%table
  %thead
    %tr
      %th Image
      %th= sort_link(@q, :title)
      %th Summary
      %th Language
      %th imdb_id
      %th Tmdb Id
      %th= sort_link(@q, :budget)
      %th= sort_link(@q, :revenue)

  %tbody
    - @movies.each do |movie|
      %tr
        %td= image_tag movie.poster.url(:thumb)
        %td= movie.title
        %td.small= movie.summary[0..200]
        %td= movie.language
        %td= link_to 'imdb', movie.imdb_link, target: :blank
        %td= link_to 'tmdb', movie.tmdb_link, target: :blank
        %td= movie.budget
        %td= movie.revenue
        %td= link_to 'Show', admin_movie_path(movie)

%br
= paginate @movies
= link_to 'New Movie', new_admin_movie_path
