%p#notice= notice

%p
  %b Title:
  = @movie.title
%p
  %b Summary:
  = @movie.summary
%p
  %b Language:
  = @movie.language
%p
  %b imdb_id:
  = @movie.imdb_id
%p
  %b tmdb_id:
  = @movie.tmdb_id
%p
  %b Budget:
  = @movie.budget
%p
  %b Revenue:
  = @movie.revenue

= image_tag @movie.poster.url(:medium)

= link_to 'Edit', edit_admin_movie_path(@movie)
\|
= link_to 'Back', admin_movies_path
