%h1 Listing roles
= paginate @roles
%table
  %thead
    %tr
      %th Person name
      %th Character name
      %th Person
      %th Movie

  %tbody
    - @roles.each do |role|
      %tr
        %td= role.person_name
        %td= role.character_name
        %td= role.person_id
        %td= role.movie_id
        %td= link_to 'Show', admin_role_path(role)
        %td= link_to 'Edit', edit_admin_role_path(role)

%br

= link_to 'New Role', new_admin_role_path
