%p#notice= notice

%p
  %b Person name:
  = @role.person_name
%p
  %b Character name:
  = @role.character_name
%p
  %b Person:
  = @role.person_id
%p
  %b Movie:
  = @role.movie_id

= link_to 'Edit', edit_admin_role_path(@role)
\|
= link_to 'Back', admin_roles_path
