.movie_show
  %h1= @disc.movie.title
.div
  .row
    .col-3
      =image_tag @disc.movie.poster(:medium)
    .col-sm-5
      %p= @disc.movie.summary
      .row
        %ul.list-inline
          %li= "Language: #{@disc.movie.language}"
          %li= "Release Date #{@disc.movie.release_date}"

        = link_to @disc.movie.imdb_link, target: 'blank' do
          = image_tag 'imdb_small'
        = link_to @disc.movie.tmdb_link, target: 'blank' do
          = image_tag 'tmdb_small'

        = render 'actions', disc: @disc

    .col-4
      %h3 Movie Reviews
      %p
        %b Title:
        = @disc.movie.title
        %br
        - @disc.review do |r|
          = r.user.name
          %br
          = r.plot_score
          = r.plot_comment
          %br
          = r.acting_score
          = r.acting_comment
          %br
          = r.summary
          %br
  .row{style: 'margin-top: 20px'}
    - @disc.movie.people.limit(12).each do |person|
      .col-1
        = link_to image_tag(person.picture(:thumb), title: person.name), person_path(person)  
