= simple_form_for(@address) do |f|
  = f.error_notification

  .form-inputs
    = f.input :Street
    = f.input :Postcode
    = f.input :City
    = f.input :Country
    = f.input :user

  .form-actions
    = f.button :submit
