%h1 Listing addresses

%table
  %thead
    %tr
      %th Street
      %th Postcode
      %th City
      %th Country
      %th User
      %th
      %th
      %th

  %tbody
    - @addresses.each do |address|
      %tr
        %td= address.Street
        %td= address.Postcode
        %td= address.City
        %td= address.Country
        %td= address.user
        %td= link_to 'Show', address
        %td= link_to 'Edit', edit_address_path(address)
        %td= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Address', new_address_path
