- if review = card.review()
  = link_to edit_card_review_path(card) do
    = inline_svg 'reviewed_text', class: 'card-icon', title: card.review.string_summary
- else
  = link_to new_card_review_path(card) do
    = inline_svg 'review_text', class: 'card-icon'

- if card.owns?
  - if card.dvd
    = link_to edit_card_dvd_path(card) do
      = inline_svg 'selling_text', class: 'card-icon'
  - else
    = link_to new_card_dvd_path(card) do
      = inline_svg 'sell_text', class: 'card-icon'
- else
  = link_to own_card_path(card) do
    = inline_svg 'add_shelf_text', class: 'card-icon'

= link_to hide_card_path(card) do
  = inline_svg 'hide_text', class: 'card-icon'

= link_to sale_list_movie_path(card.movie) do
  = inline_svg 'buy_text', class: 'card-icon'
