.col-6.col-sm-6.col-md-4.col-lg-3.col-xl-2
  .movie-card.card
    .movie-header
      .row
        - if review = card.review()
          = link_to edit_card_review_path(card) do
            = image_tag '5star', class: 'star', :title => "card.review.string_summary"
        - else
          = image_tag '5star', class: 'star', :title => "Add a review!"

        = link_to wishlist_my_path(card) do
          = image_tag 'wishlist', class: 'star', :title => "Add to my wishlist"
        = link_to shelf_my_path(card) do
          = image_tag 'shelf', class: 'star', :title => "Add this to shelf if you have watched this"

    .movie-content
      =link_to movie_path(card.movie) do
        = image_tag card.movie.poster.url(:medium) , class: "img-fluid rounded movie-img"
        .movie-overlay
          %h6= card.movie.title
          .movie-actions
            = render 'actions', card: card
    .movie-footer
