= simple_form_for([:admin, @person]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :bio
    = f.input :tmdb_id
    = f.input :imdb_id
    = f.input :birthday
    = f.input :born_in
  .form-actions
    = f.button :submit
