%h1 Listing people
= paginate @people
= search_form_for [:admin, @q] do |f|
  = f.label :name_cont
  = f.search_field :name_cont
  = f.submit

%table
  %thead
    %tr
      %th Name
      %th Bio
      %th
      %th
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.name
        %td= person.bio
        %td= link_to 'Show', admin_person_path(person)
        %td= link_to 'Edit', edit_admin_person_path(person)
        %td= link_to 'Destroy', admin_person_path(person), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Person', new_admin_person_path
