%p#notice= notice
.row
  .col-12.col-sm-6.col-md-4.col-lg-3.col-xl-2
    = image_tag @person.picture.url(:medium), class: 'img-fluid'
  .col-12.col-sm-6.col-md-8.col-lg-9.col-xl-10
    %p
      %b Name:
      = @person.name
    %p
      %b Bio:
      = @person.bio
    %p
      %b imdb_id:
      = @person.imdb_id
    %p
      %b tmdb_id:
      = @person.tmdb_id
    %p
      %b Birthday:
      = @person.birthday
    %p
      %b Born In:
      = @person.born_in
.row
  -@person.roles.each do |role|
    = link_to image_tag(role.movie.poster(:thumb), title: role.movie.title), admin_movie_path(role.movie_id)
  %table
    %thead
      %tr
        %th Film
        %th Role
    %tbody
      - @person.roles.each do |role|
        %tr
          %td= role.movie.title
          %td= role.character_name

= link_to 'Edit', edit_admin_person_path(@person)
\|
= link_to 'Back', admin_people_path
