%h1 Listing users
= search_form_for [:admin, @q] do |f|
  = f.label :name_cont
  = f.search_field :name_cont
  = f.label :email_cont
  = f.search_field :email_cont
  = f.submit id: 'commit'
%table
  %thead
    %tr
      %th Avatar
      %th Name/Email
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= image_tag user.avatar.url(:thumb)
        %td
          = user.name
          %br
          = user.email
        %td= link_to 'Show', admin_user_path(user)
        %td= link_to 'Edit', edit_admin_user_path(user)
        %td= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }

%br
= paginate @users

= link_to 'New User', new_admin_user_path
