= simple_form_for([@card, @review], url: card_review_path(@card)) do |f|
  = f.error_notification

  .form-inputs#rating-score-app
    = render 'star_rating'
    .row
      .col-6
        %br
        %h3 Plot Score
        = f.hidden_field :plot_score
        %rating-component{'hidden'=>'review_plot_score'}
        = f.input :plot_comment, label: false, class: 'comment-box', autofocus: true, placeholder: 'Your thoughts on the plot here'
      .col-2
        = link_to movie_path(@card.movie) do
          = image_tag @card.movie.poster.url(:medium) , class: "img-fluid rounded"

      .col-6
        %br
        %h3 Acting Score
        = f.hidden_field :acting_score
        %rating-component{'hidden'=>'review_acting_score'}
        = f.input :acting_comment, label: false, class: 'comment-box', autofocus: true, placeholder: 'Comments on the acting here'

    .row
      &nbsp
    .row
      .form-actions
        = f.button :submit, class: 'review-button'

:javascript
  new Vue({
    el: '#rating-score-app'
  })
