= simple_form_for([@disc, @review], url: disc_review_path(@disc)) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-4.review-wrapper
        %br
        %h3 Plot Score
        = f.hidden_field :plot_score
        = render 'star_rating', type: 'plot'
        = f.input :plot_comment, label: false, class: 'comment-box'

      .col-4.img-wrapper-review
        = link_to disc_path(@disc) do
          = image_tag @disc.movie.poster.url(:medium) , class: "img-fluid rounded"

      .col-4.review-wrapper
        %br
        %h3 Acting Score
        = f.hidden_field :acting_score
        = render 'star_rating', type: 'acting'
        = f.input :acting_comment, label: false, class: 'comment-box'

    .row
      &nbsp
    .row
      .col-12.summary-wrapper
        %br
        %h3 Summary
        = f.input :summary, label: false, class: 'summary-box'
        .form-actions
          = f.button :submit, class: 'review-button'
