%h1 Listing reviews

%table
  %thead
    %tr
      %th Plot score
      %th Plot comment
      %th Acting score
      %th Acting comment
      %th Summary
      %th
      %th
      %th

  %tbody
    - @reviews.each do |review|
      %tr
        %td= review.plot_score
        %td= review.plot_comment
        %td= review.acting_score
        %td= review.acting_comment
        %td= review.summary
        %td= link_to 'Show', review
        %td= link_to 'Edit', edit_review_path(review)
        %td= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Review', new_review_path
