!!!
%html
  %head

    %link{:href => "https://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet"}/

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Movies
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag "https://js.stripe.com/v3/"
    = javascript_include_tag 'application'
  %body
    =render 'layouts/navbar'
    .container-fluid
      .row
        .col-12
          %p.notice= notice
          %p.alert= alert
        = yield
    =render 'layouts/footer'
